

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
    rel='stylesheet'
    integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
    crossorigin='anonymous'>
    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <!-- Vue 3 -->
 <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
 <!-- Vue 3: production version, optimized for size and speed -->
 <!-- <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.prod.js'></script> -->
</head>

<body>
<div id="app" class="container-fluid">
  
  <div class="navbar navbar-dark bg-dark">
    <ul class="nav justify-content-end">
      <li class="nav-item">
          <a class="nav-link active text-white fw-bold" aria-current="page" href="/Inventory">Inventory</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/Order">Order</a>
      </li>
    </ul>
  </div>  
  <div class="row">
    <div class="col-6">
      <h3 class='pb-2 mt-5'>Product Details</h3>
    </div>

    <div class="col-6">
      <button type="submit" class="btn btn-success mt-5 float-end">
        <a href="/Inventory" class="text-decoration-none text-white">Back</a>
      </button>
    </div>



  </div>
  
  <form @submit.prevent="addProduct">
    
      <div class="row">
        <div class="col-4">
          <label for="productName" class="col-form-label">Name</label>
          <input v-model='data.name' type="text" id="productName" class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="productQuantity" class="col-form-label">Quantity</label>
          <input v-model='data.quantity' type="number" id="productQuantity" class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="col-form-label" for="flexCheckDefault">
            Available?
          </label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model='data.isavailable' type="checkbox" id="productQuantity">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="productPrice" class="col-form-label">Price Per Item</label>
          <input v-model='data.priceperitem' type="number" step="0.01" id="productPrice" class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="productUrl" class="col-form-label">Product Url</label>
          <input v-model='data.url' type="text" id="productUrl" class="form-control" >
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

    </div>
    
</body>
<script>

  const app = Vue.createApp({
      data(){
  
          return{
            data:{
                name: '',
                quantity: '',
                isavailable: false,
                priceperitem: '',
                url: '',
            }

          }
      },
      props:[],

      methods:
        {
        
          addProduct(){

            var data = JSON.stringify({
              "name": this.data.name,
              "quantity": this.data.quantity,
              "isavailable": this.data.isvailable,
              "priceperitem": this.data.priceperitem,
              "url": this.data.url
            });

            var config = {
              method: 'post',
              url: '/inventory/create',
              headers: { 
                'Access-Control-Allow-Origin': '*',
                'Content-Type': 'application/json',
              },
              data : data
            };

            axios(config)
            .then(function (response) {
              console.log(JSON.stringify(response.data));
            })
            .catch(function (error) {
              console.log(error);
            });



          
      }
    }
  })



  const vm = app.mount('#app')
</script>
<!-- Bootstrap Javascript -->
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
crossorigin='anonymous'></script>
</html>